<?xml version="1.0" encoding="utf-8"?>
<Settings>
  
  <setting key="SMTP_SERVER_PORT" value="25"></setting>
  <setting key="SMTP_SERVER" value="smtp.uicrm.com"></setting>
  <setting key="MAIL_USERNAME" value="do_not_reply@uicrm.com"></setting>
  <setting key="MAIL_PASSWORD" value="doq1w2e3r4"></setting>
  
  <setting key="ENCRYPT_KEY" value="qingyuan"></setting>

  <!--系统管理员角色-->
  <setting key="Super_AdminRole" value="DR_0000"></setting>

  <!--成品默认仓库-->
  <setting key="STORE_DEFAULT_PRODUCT" value="DSP_0000"></setting>
  <!--原料默认仓库-->
  <setting key="STORE_DEFAULT_" value="DSM_0000"></setting>

  <!--入库单打印模板编号-->
  <setting key="InOrder_Template" value="InOrderPrint"></setting>
  <!--出库单打印模板编号-->
  <setting key="OutOrder_Template" value="OutOrderPrint"></setting>
</Settings>