<?xml version="1.0" encoding="utf-8"?>
<Settings>
  
  <setting key="SMTP_SERVER_PORT" value="25"></setting>
  <setting key="SMTP_SERVER" value="smtp.gitwms.com"></setting>
  <setting key="MAIL_USERNAME" value="do_not_reply@gitwms.com"></setting>
  <setting key="MAIL_PASSWORD" value="doq1w2e3r4"></setting>
  
  <setting key="ENCRYPT_KEY" value="qingyuan"></setting>

  <!--系统管理员角色-->
  <setting key="Super_AdminRole" value="DR_0000"></setting>

  <!--成品默认仓库-->
  <setting key="STORE_DEFAULT_PRODUCT" value="DSP_0000"></setting>
  <!--原料默认仓库-->
  <setting key="STORE_DEFAULT_" value="DSM_0000"></setting>

  <!--入库单打印模板编号-->
  <setting key="InOrder_Template" value="InOrderPrint"></setting>
  <!--出库单打印模板编号-->
  <setting key="OutOrder_Template" value="OutOrderPrint"></setting>

  <!--Sign-->
  <setting key="Sign" value="HWTNtSuSIoyjhyIfqMo9vmfOFxS0b6nhwHObhfQ271yTmgW5Ck8+de9TkG2DQbms/TaSJ6cBqgTLIxxFvpxcE22ncRzI3KRxUvkcHGGwqO1/OHMK1efRAbOAaJ1sIvbJkQTzGYskBI/2HjIlQ2dftauXelQGZI7sNQcOt1CVMssuw/csceHSTz/uZVonogZS"></setting>
  <!--loginsign-->
  <setting key="loginsign" value="HWTNtSuSIoyCtYYexHgBeu5uCn3RypUSICN/A92RwoQZIW1qaZ7IZ0LZi/Iybt1HMz95DOzigl07Dcd7N3biKB1638TwbAIII0zXk9z3ITtT0sC9rWK5WA=="></setting>
  
</Settings>