body { 
  color: #222; 
  background-color:#282828 !important;
  background-image: url(../../img/bg-navygrey.png) !important;
}

#header.navbar-inverse .navbar-inner {
  background-color: #4b4f55;
  background-image: -moz-linear-gradient(top, #4b4f55, #363d42);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b4f55), to(#363d42));
  background-image: -webkit-linear-gradient(top, #4b4f55, #363d42);
  background-image: -o-linear-gradient(top, #4b4f55, #363d42);
  background-image: linear-gradient(to bottom, #4b4f55, #363d42);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4f55', endColorstr='#ff363d42', GradientType=0);
  border-color: #2a3035;
  webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
         box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
  background-color: #333 !important;
}

#header.navbar-inverse .divider-vertical {  
  border-left-color: #363d42;
  border-right-color: #4b4f55;  
}

#sidebar > ul > li > a {
  border-top: 1px solid #4d5259;
  border-bottom: 1px solid #3a4146;
  color: #eee;
  text-shadow: 0 1px 1px #000;
}

#sidebar > ul > li a i {
   color: #a4a4a5 !important;
}

#sidebar > ul > li >a:hover, #sidebar > ul > li:hover>a {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  background: #363d42;
  background: -webkit-linear-gradient(bottom, #363d42, #333f48);
  background: -ms-linear-gradient(bottom, #363d42, #333f48); 
  background: -moz-linear-gradient(bottom, #363d42, #333f48);
  background: -o-linear-gradient(bottom, #363d42, #333f48);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff363d42', endColorstr='#ff333f48', GradientType=0);
  border-color: transparent;
  border-top: 1px solid #3a4146;
  border-bottom: 1px solid #4d5259;
}

#sidebar > ul > li.active > a{
  background: #363d42;
  border-top: 1px solid #3a4146;
  border-bottom: 1px solid #4d5259;   
}  

#sidebar > ul > li > ul.sub > li > a {
  color: #ccc !important;
  text-shadow: 0 1px 1px #000 !important;
}

#sidebar > ul > li > ul.sub > li.active > a, #sidebar > ul > li > ul.sub > li > a:hover {
  color: #999;
  background: #363d42 !important;
}

#sidebar > ul > li > ul.sub > li > a:hover {
   background: #4d575e !important;
}

/* sub menu bg color on hover menu item */
.sidebar-closed #sidebar > ul > li:hover .sub {
  background-color: #363d42;
}


/* Landscape phone to portrait tablet */
@media (max-width:979px) { 
  #sidebar {
    background-color: #282e33 !important;
     -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
             border-radius: 4px !important;
  }

  #sidebar > ul > li > a {
    border-top: 1px solid #343a3f !important;
    border-bottom: 1px solid #1f252a !important;
  }

  #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {
    border-top: 1px solid #343a3f !important;
    border-bottom: 1px solid #1f252a !important;
  }
}