/Git.Storage.Common/obj
/Git.Storage.Common/bin
/Git.Storage.Rose.Server/obj
/Git.Storage.Rose.Server/bin
/Git.Storage.Conversion/bin
/Git.Storage.Conversion/obj
/Git.Storage.DataAccess/obj
/Git.Storage.DataAccess/bin
/Git.Storage.Entity/obj
/Git.Storage.Entity/bin
/Git.Storage.IDataAccess/obj
/Git.Storage.IDataAccess/bin
/Git.Storage.Provider/obj
/Git.Storage.Provider/bin
/Git.Storage.RoseEntity/bin
/Git.Storage.RoseEntity/obj
/Git.Storage.Web/obj
/Git.Storage.Web/bin
/Git.Storage.Web/Log
/Git.Storage.WebAPI/obj
/Git.Storage.WebAPI/bin
/.vs
/Git.Storage.Web.v12.suo
