@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")
    @Html.Raw(ViewBag.CssFile)
</head>
<body class="dialog">
    <div class="tab-pane active" id="widget_tab1">
        <div class="sTableOptions">
            <div class="row-fluid" style="border: 1px solid #DDDDDD;">
                产品编号&nbsp;<input id="txtBarCode" name="txtBarCode" type="text" title="输入搜索关键字" class="searchinfo" />&nbsp;&nbsp;
                提示：输入搜索产品关键字查询产品信息!
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered dataTable inorder_detail" id="tabInfo2">
            <thead>
                <tr>
                    <th><input type="checkbox" class="group-checkable" onclick="orderProduct.SelectAll(this)" /></th>
                    <th class="hidden-480">产品名称</th>
                    <th class="hidden-480">产品条码</th>
                    <th class="hidden-480">批次</th>
                    <th class="hidden-480">库位</th>
                    <th class="hidden-480">现有库存</th>
                    <th class="hidden-480">出库数</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</body>

</html>

