<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--移库管理界面-->
  <page name="Move.Product.List" path="/Move/Product/List">
    <group>FileGroup.Product.ProductMove.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--新增移库单-->
  <page name="Move.Product.Add" path="/Move/Product/Add">
    <group>FileGroup.Product.ProductMove.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--添加移库单产品-->
  <page name="Move.Product.AddProduct" path="/Move/Product/AddProduct">
    <group>FileGroup.Product.ProductMove.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--移库单详细-->
  <page name="Move.Product.Detail" path="/Move/Product/Detail">
    <group>FileGroup.Product.ProductMove.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--编辑移库单-->
  <page name="Move.Product.Edit" path="/Move/Product/Edit">
    <group>FileGroup.Product.ProductMove.List</group>
    <seo>Seo.Index</seo>
  </page>
</PageConfigs>