<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--产品出库单列表-->
  <page name="OutStorage.Product.List" path="/OutStorage/Product/List">
    <group>FileGroup.Product.ProductOutOrder.List</group>
    <seo>Seo.Index</seo>
  </page>

    <!--新增出库单-->
    <page name="OutStorage.Product.Add" path="/OutStorage/Product/Add">
        <group>FileGroup.Product.ProductOutOrder.List</group>
        <seo>Seo.Index</seo>
    </page>

    <!--出库添加产品-->
    <page name="OutStorage.Product.AddProduct" path="/OutStorage/Product/AddProduct">
        <group>FileGroup.Product.ProductOutOrder.List</group>
        <seo>Seo.Index</seo>
    </page>

    <!--订单详细-->
    <page name="OutStorage.Product.Detail" path="/OutStorage/Product/Detail">
        <group>FileGroup.Product.ProductOutOrder.List</group>
        <seo>Seo.Index</seo>
    </page>


    <!--编辑出库单-->
    <page name="OutStorage.Product.Edit" path="/OutStorage/Product/Edit">
        <group>FileGroup.Product.ProductOutOrder.List</group>
        <seo>Seo.Index</seo>
    </page>
</PageConfigs>
