<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>
  <!--用于产品在线库存报表-->
  <page name="Product.Report.List" path="/Report/Report/ProductReport">
    <group>FileGroup.Product.Report.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--用于产品出入库报表-->
  <page name="Product.InOutReport.List" path="/Report/Report/ProductInOutReport">
    <group>FileGroup.Product.InOutReport.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--用于产品入库报表-->
  <page name="Product.InStorageReport.List" path="/Report/Report/InStorageReport">
    <group>FileGroup.Product.InStorageReport.List</group>
    <seo>Seo.Index</seo>
  </page>


  <!--用于客户报表-->
  <page name="Product.CustomerReport.List" path="/Report/Report/CustomerReport">
    <group>FileGroup.Product.CustomerReport.List</group>
    <seo>Seo.Index</seo>
  </page>


  <!--用于供应商报表-->
  <page name="Product.SupplierReport.List" path="/Report/Report/SupplierReport">
    <group>FileGroup.Product.SupplierReport.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--用于产品出库报表-->
  <page name="Product.OutStorageReport.List" path="/Report/Report/OutStorageReport">
    <group>FileGroup.Product.OutStorageReport.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--库存清单报表-->
  <page name="StockBill.Report.List" path="/Report/Report/StockBillReport">
    <group>FileGroup.StockBill.Report.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--报损报表-->
  <page name="BadReport.Report.List" path="/Report/Report/BadReport">
    <group>FileGroup.BadReport.Report.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--退货报表-->
  <page name="ReturnReport.Report.List" path="/Report/Report/ReturnReport">
    <group>FileGroup.ReturnReport.Report.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--台帐报表-->
  <page name="InventoryReport.Report.List" path="/Report/Report/InventoryReport">
    <group>FileGroup.InventoryReport.Report.List</group>
    <seo>Seo.Index</seo>
  </page>




  <!-- **********************************************报表管理****************************************************  -->

  <page name="Report.Product.StockBill" path="/Report/Product/StockBill">
    <group>FileGroup.StockBill.Report.List</group>
    <seo>Seo.Index</seo>
  </page>


  <!-- **********************************************报表文件格式管理****************************************************  -->
  <page name="Report.Manager.Add" path="/Report/Manager/Add">
    <group>FileGroup.Report.Manager.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Report.Manager.Edit" path="/Report/Manager/Edit">
    <group>FileGroup.Report.Manager.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Report.Manager.List" path="/Report/Manager/List">
    <group>FileGroup.Report.Manager.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Report.Manager.Designer" path="/Report/Manager/Designer">
    <group>FileGroup.Report.Manager.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Report.Manager.Show" path="/Report/Manager/Show">
    <group>FileGroup.Report.Manager.List</group>
    <seo>Seo.Index</seo>
  </page>
</PageConfigs>
