<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--仓库管理--><!--
  <page name="Storage.Location.List" path="/Storage/Location/List">
    <group>FileGroup.Home.UserList</group>
    <seo>Seo.Index</seo>
  </page>-->

  <!--设备管理-->
  <page name="Storage.Equipment.List" path="/Storage/Equipment/List">
    <group>FileGroup.Storage.Equipment.List</group>
    <seo>Seo.Index</seo>
  </page>
    
  <!--添加或编辑设备-->
  <page name="Storage.Equipment.Add" path="/Storage/Equipment/Add">
    <group>FileGroup.Storage.Equipment.List</group>
    <seo>Seo.Index</seo>
  </page>
    
  <!--设备授权-->
  <page name="Storage.Equipment.Empower" path="/Storage/Equipment/Empower">
    <group>FileGroup.Storage.Equipment.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--仓库管理-->
  <page name="Storage.Store.List" path="/Storage/Store/List">
    <group>FileGroup.Storage.List</group>
    <seo>Seo.Index</seo>
  </page>
    
   <!--添加仓库-->
  <page name="Storage.Store.Add" path="/Storage/Store/Add">
    <group>FileGroup.Storage.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--库位管理-->
  <page name="Storage.Location.List" path="/Storage/Location/List">
    <group>FileGroup.Storage.Location.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--初始化产品库存-->
  <page name="Storage.LocalProduct.List" path="/Storage/LocalProduct/List">
    <group>FileGroup.Storage.LocalProduct.List</group>
    <seo>Seo.Index</seo>
  </page>
  
  <!--库位管理-->
  <page name="Storage.Location.Add" path="/Storage/Location/Add">
     <group>FileGroup.Storage.Location.List</group>
     <seo>Seo.Index</seo>
  </page>


  <!--计量单位管理-->
  <page name="Storage.Measure.Index" path="/Storage/Measure/Index">
    <group>FileGroup.Storage.Measure.List</group>
    <seo>Seo.Index</seo>
  </page>
</PageConfigs>
