<?xml version="1.0" encoding="utf-8"?>
<Settings>
  
  <setting key="SMTP_SERVER_PORT" value="25"></setting>
  <setting key="SMTP_SERVER" value="smtp.uicrm.com"></setting>
  <setting key="MAIL_USERNAME" value="do_not_reply@uicrm.com"></setting>
  <setting key="MAIL_PASSWORD" value="doq1w2e3r4"></setting>
  
  <setting key="ENCRYPT_KEY" value="qingyuan"></setting>

  <!--成品默认仓库-->
  <setting key="STORE_DEFAULT_PRODUCT" value="DSP_0000"></setting>
  <!--原料默认仓库-->
  <setting key="STORE_DEFAULT_MATERIAL" value="DSM_0000"></setting>
</Settings>