<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--盘点管理添加界面-->
  <page name="Check.Product.Add" path="/Check/Product/Add">
    <group>FileGroup.Product.ProductCheck.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--盘点管理列表界面-->
  <page name="Check.Product.List" path="/Check/Product/List">
    <group>FileGroup.Product.ProductCheck.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--盘点管理盘差表-->
  <page name="Check.Product.Detail" path="/Check/Product/Detail">
    <group>FileGroup.Product.ProductCheck.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--盘点管理盘审核-->
  <page name="Check.Product.Audite" path="/Check/Product/Audite">
    <group>FileGroup.Product.ProductCheck.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--盘点管理编辑盘点单-->
  <page name="Check.Product.Edit" path="/Check/Product/Edit">
    <group>FileGroup.Product.ProductCheck.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--盘点管理复核盘点单-->
  <page name="Check.Product.Upload" path="/Check/Product/Upload">
    <group>FileGroup.Product.ProductCheck.List</group>
    <seo>Seo.Index</seo>
  </page>
</PageConfigs>
