<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--供应商管理-->
  <page name="Client.Supplier.Index" path="/Client/Supplier/Index">
    <group>FileGroup.Client.Supplier.Index</group>
    <seo>Seo.Index</seo>
  </page>


  <!--客户管理-->
  <page name="Client.Customer.Index" path="/Client/Customer/Index">
    <group>FileGroup.Client.Customer.Index</group>
    <seo>Seo.Index</seo>
  </page>
  <!--新增客户-->
  <page name="Client.Customer.Add" path="/Client/Customer/Add">
    <group>FileGroup.Client.Customer.Index</group>
    <seo>Seo.Index</seo>
  </page>
  <!--新增客户地址-->
  <page name="Client.Customer.Address" path="/Client/Customer/Address">
    <group>FileGroup.Client.Customer.Index</group>
    <seo>Seo.Index</seo>
  </page>
</PageConfigs>
