<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--产品入库单列表-->
  <page name="InStorage.Product.List" path="/InStorage/Product/List">
    <group>FileGroup.Product.ProductInOrder.List</group>
    <seo>Seo.Index</seo>
  </page>


  <!--新增入库单-->
  <page name="InStorage.Product.Add" path="/InStorage/Product/Add">
    <group>FileGroup.Product.ProductInOrder.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--入库添加产品-->
  <page name="InStorage.Product.AddProduct" path="/InStorage/Product/AddProduct">
    <group>FileGroup.Product.ProductInOrder.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--订单详细-->
  <page name="InStorage.Product.Detail" path="/InStorage/Product/Detail">
    <group>FileGroup.Product.ProductInOrder.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--编辑入库单-->
  <page name="InStorage.Product.Edit" path="/InStorage/Product/Edit">
    <group>FileGroup.Product.ProductInOrder.List</group>
    <seo>Seo.Index</seo>
  </page>
</PageConfigs>
