<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--员工管理页面-->
  <page name="Home.UserList" path="/Home/UserList">
    <group>FileGroup.Home.UserList</group>
    <seo>Seo.Index</seo>
  </page>
  <!--添加员工-->
  <page name="Home.AddUser" path="/Home/AddUser">
    <group>FileGroup.Home.UserList</group>
    <seo>Seo.Index</seo>
  </page>

  <!--账户设置页面-->
  <page name="Home.AccountSetting" path="/Home/AccountSetting">
    <group>FileGroup.Home.UserList</group>
    <seo>Seo.Index</seo>
  </page>

  <!--角色管理页面-->
  <page name="Home.RoleList" path="/Home/RoleList">
    <group>FileGroup.Home.RoleList</group>
    <seo>Seo.Index</seo>
  </page>

  <!--部门管理页面-->
  <page name="Home.DepartList" path="/Home/DepartList">
    <group>FileGroup.Home.DepartList</group>
    <seo>Seo.Index</seo>
  </page>

  <!--菜单管理-->
  <page name="Res.Index" path="/Res/Index">
    <group>FileGroup.Home.Menu</group>
    <seo>Seo.Index</seo>
  </page>
  <!--权限分配-->
  <page name="Res.Power" path="/Res/Power">
    <group>FileGroup.Home.Menu</group>
    <seo>Seo.Index</seo>
  </page>
  <!--系统日志-->
  <page name="Res.SysLog" path="/Res/SysLog">
    <group>FileGroup.Home.Menu</group>
    <seo>Seo.Index</seo>
  </page>
  <!--错误友好提示界面-->
  <page name="Home.Error" path="/Home/Error">
    <group>FileGroup.Home.Error</group>
    <seo>Seo.Index</seo>
  </page>

  <!--首页-->
  <page name="Home.Welcome" path="/Home/Welcome">
    <group>FileGroup.Home.UserList</group>
    <seo>Seo.Index</seo>
  </page>
</PageConfigs>
