<?xml version="1.0" encoding="utf-8"?>
<PageConfigs>

  <!--产品管理-->
  <page name="Product.Goods.List" path="/Product/Goods/List">
    <group>FileGroup.Product.Goods.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Product.Goods.Detail" path="/Product/Goods/Detail">
    <group>FileGroup.Product.Goods.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Product.Goods.Index" path="/Product/Goods/Index">
    <group>FileGroup.Product.Goods.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Product.Goods.Add" path="/Product/Goods/Add">
    <group>FileGroup.Product.Goods.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--订单管理-->
  <page name="Order.OrderManage.Index" path="/Order/OrderManage/Index">
    <group>FileGroup.Order.OrderManage.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Order.OrderManage.Add" path="/Order/OrderManage/Add">
    <group>FileGroup.Order.OrderManage.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Order.OrderManage.Edit" path="/Order/OrderManage/Edit">
    <group>FileGroup.Order.OrderManage.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Order.OrderManage.ImportFileList" path="/Order/OrderManage/ImportFileList">
    <group>FileGroup.Order.OrderManage.List</group>
    <seo>Seo.Index</seo>
  </page>
  <page name="Order.OrderManage.EditImportFile" path="/Order/OrderManage/EditImportFile">
    <group>FileGroup.Order.OrderManage.List</group>
    <seo>Seo.Index</seo>
  </page>
  
  <!--********************************************报表*********************************************************-->
  <!--用于产品在线库存报表-->
  <page name="Product.Report.List" path="/Report/Report/ProductReport">
    <group>FileGroup.Product.Report.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--用于产品出入库报表-->
  <page name="Product.InOutReport.List" path="/Report/Report/ProductInOutReport">
    <group>FileGroup.Product.InOutReport.List</group>
    <seo>Seo.Index</seo>
  </page>
  
  <!--用于产品入库报表-->
  <page name="Product.InStorageReport.List" path="/Report/Report/InStorageReport">
    <group>FileGroup.Product.InStorageReport.List</group>
    <seo>Seo.Index</seo>
  </page>


  <!--用于客户报表-->
  <page name="Product.CustomerReport.List" path="/Report/Report/CustomerReport">
    <group>FileGroup.Product.CustomerReport.List</group>
    <seo>Seo.Index</seo>
  </page>


  <!--用于供应商报表-->
  <page name="Product.SupplierReport.List" path="/Report/Report/SupplierReport">
    <group>FileGroup.Product.SupplierReport.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--用于产品出库报表-->
  <page name="Product.OutStorageReport.List" path="/Report/Report/OutStorageReport">
    <group>FileGroup.Product.OutStorageReport.List</group>
    <seo>Seo.Index</seo>
  </page>
  
  <!--库存清单报表-->
  <page name="StockBill.Report.List" path="/Report/Report/StockBillReport">
    <group>FileGroup.StockBill.Report.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--报损报表-->
  <page name="BadReport.Report.List" path="/Report/Report/BadReport">
    <group>FileGroup.BadReport.Report.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--退货报表-->
  <page name="ReturnReport.Report.List" path="/Report/Report/ReturnReport">
    <group>FileGroup.ReturnReport.Report.List</group>
    <seo>Seo.Index</seo>
  </page>

  <!--台帐报表-->
  <page name="InventoryReport.Report.List" path="/Report/Report/InventoryReport">
    <group>FileGroup.InventoryReport.Report.List</group>
    <seo>Seo.Index</seo>
  </page>
</PageConfigs>
