<?xml version="1.0" encoding="utf-8"?>
<File>
  <SourceType SourceID="-100" Length="512000" FileType="Image">
    <FileSize><![CDATA[|]]></FileSize>
    <FileExtension>.gif|.jpg</FileExtension>
    <ContentType><![CDATA[image/pjpeg|image/gif|image/pjpeg|image/gif|image/jpeg]]></ContentType>
    <FilePath><![CDATA[\Upload\Temp\]]></FilePath>
    <ErrorKey><![CDATA[]]></ErrorKey>
  </SourceType>

  <SourceType SourceID="12" Length="41943040" FileType="File">
    <FileSize><![CDATA[]]></FileSize>
    <FileExtension>.doc|.xls|.ppt|.rar|.zip|.wps|.caj|.pdf|.txt|.jpg|.gif|.png</FileExtension>
    <ContentType>
      <![CDATA[application/msword
      |application/vnd.ms-excel
      |application/vnd.ms-powerpoint
      |application/octet-stream
      |application/x-zip-compressed 
      |application/vnd.ms-works
      |application/caj
      |application/pdf
      |text/plain
      |image/jpeg
      |image/gif
      |image/pjpeg
    ]]>
    </ContentType>
    <FilePath><![CDATA[/upload/Knowledge/]]></FilePath>
    <ErrorKey><![CDATA[]]></ErrorKey>
  </SourceType>

  <SourceType SourceID="343" Length="41943040" FileType="File">
    <FileSize><![CDATA[]]></FileSize>
    <FileExtension>.doc|.xls|.ppt|.rar|.zip|.wps|.caj|.pdf|.txt|.jpg|.gif|.png|.docx|.xlsx|.pptx</FileExtension>
    <ContentType>
      <![CDATA[application/msword
    |application/vnd.ms-excel
    |application/vnd.ms-powerpoint
    |application/octet-stream
    |application/x-zip-compressed 
    |application/vnd.ms-works
    |application/caj
    |application/pdf
    |text/plain
    |image/jpeg
    |image/gif
    |image/pjpeg
    |application/vnd.openxmlformats-officedocument.wordprocessingml.document
    |application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
    |application/vnd.openxmlformats-officedocument.presentationml.presentation
    ]]>
    </ContentType>
    <FilePath><![CDATA[/upload/Daily/]]></FilePath>
    <ErrorKey><![CDATA[]]></ErrorKey>
  </SourceType>

</File>