@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")
    @Html.Raw(ViewBag.CssFile)
</head>
<body class="fixed-top">
    <div class="row-fluid" style="border: 1px solid #DDDDDD;">
        库位编号/名称:<input id="txtLocal" name="txtLocal" type="text" class="searchinfo" />&nbsp;&nbsp;
        库位类型&nbsp;<select id="ddlLocalType" name="ddlLocalType" class="searchselect">@Html.Raw(ViewBag.LocalType)</select>
        <a id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="Local_Common.PageClick(1)">搜索</a>
    </div>
    <table class="table table-striped table-bordered table-hover" id="dialog_tabInfo" style="margin-bottom: 0px;">
        <thead>
            <tr class="widget-title">
                <th style="width: 8px;"><input type="checkbox" class="group-checkable" /></th>
                <th class="hidden-480">库位编号</th>
                <th class="hidden-480">库位名称</th>
                <th class="hidden-480">库位类型</th>
                <th class="hidden-480">是否禁用</th>
                <th class="hidden-480">是否默认</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="dialog_mypager" class="row-fluid">
    </div>
    <script type="text/ecmascript">
        var Local_Common = {
            PageClick: function (pageIndex, pageSize) {
                pageSize = pageSize == undefined ? 7 : pageSize;
                var LocalName = $("#txtLocal").val();
                var LocalType = $("#ddlLocalType").val();
                var param = {};
                param["PageIndex"] = pageIndex;
                param["PageSize"] = pageSize;
                param["LocalName"] = LocalName;
                param["LocalType"] = LocalType;
                $.gitAjax({
                    url: "/Storage/LocationAjax/GetList",
                    data: param,
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        var json = result;
                        var Html = "";
                        if (json.Data != undefined && json.Data.List != undefined && json.Data.List.length > 0) {
                            $(json.Data.List).each(function (i, item) {
                                Html += "<tr>";
                                Html += "<td><input type=\"checkbox\" name=\"local_item\" class=\"checkboxes\" data-value=\"" + escape(JSON.stringify(item)) + "\" value=\"" + item.LocalNum + "\"/></td>";
                                Html += "<td>" + item.LocalBarCode + "</td>";
                                Html += "<td>" + git.GetStrSub(item.LocalName, 14) + "</td>";
                                Html += "<td>" + item.LocalType + "</td>";
                                Html += "<td>" + item.IsForbid + "</td>";
                                Html += "<td>" + item.IsDefault + "</td>";
                                Html += "</tr>";
                            });
                        }
                        $("#dialog_tabInfo tbody").html(Html);
                        $("#dialog_mypager").minpager({ pagenumber: pageIndex, recordCount: json.RowCount, pageSize: pageSize, buttonClickCallback: Local_Common.PageClick });
                        $("#dialog_tabInfo").find("input[type='checkbox']").attr("checked", false);
                    }
                });
            }
        }
        Local_Common.PageClick(1, 7);
    </script>
</body>
</html>
