@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="zh" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Html.Partial("_Title")
    @Html.Raw(ViewBag.CssFile)
</head>
<body class="dialog">
    <div class="tab-pane active" id="widget_tab1">
        <table class="dialogtab">
            <tr>
                <td>产品编码</td>
                <td>
                    <input id="txtBarCode" name="txtBarCode" type="text" placeholder="双击自动选择" class="input-large" value=""/>                                 
                </td>
            </tr>
            <tr>
                <td>产品名称</td>
                <td><input id="txtProductName" name="txtProductName" type="text" placeholder="" class="input-large" value=""/><input id="hdProductNum" name="hdProductNum" type="hidden" value="" /></td>
            </tr>
            <tr>
                <td>产品规格</td>
                <td><input id="txtSize" name="txtSize" type="text" placeholder="" class="input-large" value=""/></td>
            </tr>
            <tr>
                <td>产品单位</td>
                <td>
                    <select id="txtUnitNum" name="txtUnitNum"class="input-large" style="width:225px;">
                        @Html.Raw(ViewBag.UnitNameOptions)
                    </select>
                </td>
            </tr>
            <tr>
                <td>订单数量</td>
                <td>
                    <input id="txtNum" name="txtNum" type="text" placeholder="" class="input-large" value=""/>
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td>
                    <input id="txtRemark" name="txtRemark" type="text" placeholder="" class="input-large" value=""/>
                </td>
            </tr>
        </table>
    </div>
</body>
    
</html>

