<div id="footer">
    版本:@ViewBag.DebugVersion&nbsp;&nbsp;
    技术支持:15800466429&nbsp;&nbsp;
    QQ:821865130&nbsp;&nbsp;
    QQ群:142050808
    <div class="span pull-right">
        <span class="go-top"><i class="icon-arrow-up"></i></span>
    </div>
</div>

@Html.Raw(ViewBag.JsFile)


