<?xml version="1.0" encoding="utf-8"?>
<Groups>

  <!--错误友好提示界面-->
  <group name="Home.Error">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.Error</file>
    
  </group>
  
  <!--用户用户列表-->
  <group name="Home.UserList">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.User</file>
  </group>

  <!--用于角色列表-->
  <group name="Home.RoleList">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.Role</file>
  </group>

  <!--用于部门管理-->
  <group name="Home.DepartList">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.Depart</file>
  </group>

  <!--菜单管理-->
  <group name="Home.Menu">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.Menu</file>
  </group>


  <!--用于供应商管理-->
  <group name="Client.Supplier.Index">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Git.Storage.Supplier</file>
  </group>

  <!--用于客户管理-->
  <group name="Client.Customer.Index">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Git.Storage.Client</file>
  </group>


  <!--用于设备管理-->
  <group name="Storage.Equipment.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.Equipment</file>
  </group>


  <!--用于仓库管理-->
  <group name="Storage.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.Storage</file>
  </group>


  <!--用于库位管理-->
  <group name="Storage.Location.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.Location</file>
  </group>


  <!--计量单位管理-->
  <group name="Storage.Measure.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.Measure</file>
  </group>
  
  
  <!--用于产品管理-->
  <group name="Product.Goods.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.CSS.autocomplete</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>    
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.autocomplete</file>
    <file>File.Js.Git.Storage.Goods</file>
  </group>

  <!--初始化产品库存-->
  <group name="Storage.LocalProduct.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.LocalProduct</file>
  </group>


  <!--用于订单管理-->
  <group name="Order.OrderManage.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.CSS.autocomplete</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.autocomplete</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.OrderManage</file>
  </group>


  <!--用于产品入库管理-->
  <group name="Product.ProductInOrder.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.CSS.autocomplete</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.autocomplete</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.ProductInOrder</file>
  </group>


  <!--用于产品出库管理-->
  <group name="Product.ProductOutOrder.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.CSS.autocomplete</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.autocomplete</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.ProductOutOrder</file>
  </group>

  <!--用于报损管理-->
  <group name="Product.ProductBad.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.CSS.autocomplete</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.autocomplete</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.ProductBadOrder</file>
  </group>


  <!--用于移库管理-->
  <group name="Product.ProductMove.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.CSS.autocomplete</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.autocomplete</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.MoveOrder</file>
  </group>


  <!--用于盘点管理-->
  <group name="Product.ProductCheck.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.CSS.autocomplete</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.autocomplete</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.CheckOrder</file>
  </group>


  <!--用于退货管理-->
  <group name="Product.ProductReturns.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.CSS.autocomplete</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.autocomplete</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Git.Storage.ReturnOrder</file>
  </group>

  <!--******************************************************报表***********************************************************-->

  <!--用于产品在线库存报表-->
  <group name="Product.Report.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Git.Storage.ProductReport</file>
  </group>

  <!--用于产品出入库报表-->
  <group name="Product.InOutReport.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Swfobject</file>
    <file>File.Js.Git.Storage.ProductInOutReport</file>
  </group>


  <!--用于入库报表-->
  <group name="Product.InStorageReport.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Swfobject</file>
    <file>File.Js.Git.Storage.InStorageReport</file>
  
  </group>


  <!--用于客户报表-->
  <group name="Product.CustomerReport.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Swfobject</file>
    <file>File.Js.Git.Storage.CustomerReport</file>
  </group>


  <!--用于供应商报表-->
  <group name="Product.SupplierReport.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Swfobject</file>
    <file>File.Js.Git.Storage.SupplierReport</file>
  </group>


  <!--用于出库报表-->
  <group name="Product.OutStorageReport.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Swfobject</file>
    <file>File.Js.Git.Storage.OutStorageReport</file>
  </group>

  <!--库存清单报表-->
  <group name="StockBill.Report.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Git.Storage.StockBillReport</file>
  </group>

  <!--报损报表-->
  <group name="BadReport.Report.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Swfobject</file>
    <file>File.Js.Git.Storage.BadReport</file>
  </group>

  <!--退货报表-->
  <group name="ReturnReport.Report.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Swfobject</file>
    <file>File.Js.Git.Storage.ReturnReport</file>
  </group>
 
  <!--台帐报表-->
  <group name="InventoryReport.Report.List">
    <file>File.CSS.bootstrap</file>
    <file>File.CSS.font-awesome</file>
    <file>File.CSS.style</file>
    <file>File.CSS.style-responsive</file>
    <file>File.CSS.default</file>
    <file>File.CSS.jbox</file>
    <file>File.Js.Jquery</file>
    <file>File.Js.bootstrap</file>
    <file>File.Js.jBox</file>
    <file>File.Js.Enum</file>
    <file>File.Js.WdatePicker</file>
    <file>File.Js.Common</file>
    <file>File.Js.UICommon</file>
    <file>File.Js.Uploader</file>
    <file>File.Js.Git.Storage.InventoryReport</file>
  </group>
</Groups>